<div class="menu-bar">
  <div class="app-title">
    <span class="app-title-primary">Quotes</span>
    <span class="app-title-caption">That change your life...</span>
  </div>
  <div class="menu-bar-right">
    <div
      class="menu-bar-profile"
      *ngIf="auth.user$ | async as user; else login"
    >
      <img mat-card-avatar class="menu-bar-profile-pic" [src]="user.photoURL" *ngIf="user.photoURL" />
      <img mat-card-avatar class="menu-bar-profile-pic" src="../assets/img/current_default_user.png"  *ngIf="!user.photoURL"/>
      <button mat-raised-button (click)="auth.signout()">Sign Out</button>
    </div>

    <ng-template #login>
      <button [matMenuTriggerFor]="menu" mat-raised-button>Sign In</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="auth.googleSignOn()">
          <div class="login-icons-holder">
            <img class="login-icon" height="20" width="20" src="./../assets/img/google-icon.png"><span>Google</span>
          </div>
        </button>
        <button mat-menu-item  (click)="openDialog()">
          <div class="login-icons-holder">
            <img class="login-icon" height="20" width="20" src="./../assets/img/user-login.png"><span>ID/Password</span>
          </div>
        </button>
      </mat-menu>
    </ng-template>
  </div>
</div>
<app-quotes *ngIf="auth.user$ | async as user"></app-quotes>

<router-outlet></router-outlet>
